/*
	Program css files
*/

body {
    margin: 0px;
    direction: ltr;
    background: #237226cf;
    background-image: linear-gradient(to bottom right, #237226cf, white);
    color: white;
}

table {
    margin: 60px auto;
    border: 10px solid #FFEB3B;
    border-radius: 10px;
    background: #FFEB3B;
    width: 60%;
    font-size: 20px;
}

td, th {
    padding: 20px;
    text-align: center;
    border: 4px solid #FFEB3B;
}

tr {
    background: #a20b27;
}

tr:hover {
	background-color: black;
}

h2, h3 {
    text-align: center;
    padding: 50px;
    font-family: 'arial';
}
