/* Reset default browser styles */
html, body, header, nav, ul, li, section, div, footer, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #4D869C;
    color: #EEF7FF;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: #7AB2B2 !important;
}

a:visited {
    color: inherit;
}

a:hover {
    color: #CDE8E5;
}

header h1 {
    margin: 0;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #EEF7FF;
    font-weight: bold;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

section {
    padding: 60px 0;
}

section h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #4D869C;
}

section p {
    margin-bottom: 20px;
}

footer {
    background-color: #4D869C;
    color: #EEF7FF;
    text-align: center;
    padding: 20px 0;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.fade-in.visible {
    opacity: 1;
}
